<nav class="navbar navbar-light" style="background-color: #003478;">
    <div class="container-fluid">
        <a class="navbar-brand align-text-center" routerLink="" style="color: #FFFF">
            <img src="../../../assets/svg/index.svg" alt="" width="64" height="64"
                class="d-inline-block align-text-center">
            HealthTrack
        </a>
        <div class="d-flex flex-row justify-content-end mt-3">
            <p class="px-2 fw-bolder text-light">Não possui uma conta?</p>
            <button class="btn btn-primary-outline fw-bolder text-black">Criar conta</button>
        </div>
    </div>
</nav>