<app-sidenav></app-sidenav>
<app-navbar-dashboard>
    <span class="navbar-text text-light" href="#" id="statistics">Listagem de prontuários</span>
    <div class="d-flex ms-auto mt-2">
        <span class="navbar-text">
            <a class="text-light"><fa-icon [icon]="faUser"></fa-icon></a>
            {{ loggedinUser.name }} {{ loggedinUser.lastName }}
        </span>
    </div>
</app-navbar-dashboard>
<div class="container">
    <h2 class="text-text mt-3">Utilize a barra de pesquisa para buscar</h2>
    <div class="d-flex flex-row">
        <div class="input-group input-group-lg col-md-4">
            <span class="input-group-text" id="inputGroup-sizing-lg"><fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg" placeholder="Digite o nome do paciente"
                [(ngModel)]="searchText">
        </div>
        <button class="btn btn-primary btn-lg mx-3 col-md-2">Buscar</button>
    </div>
    <div class="text-center mt-3">
        <table class="table table-light mx-2" style="width: 95rem;" *ngFor="let pacient of filterPacients | searchPipe: searchText">
            <tbody>
                <tr class="text-center">
                    <th>Registro</th>
                    <th>Nome do Paciente</th>
                    <th>Convênio</th>
                    <th>Exibir</th>
                </tr>
                <tr class="text-center">
                    <td>{{ pacient.ids.pacientID }}</td>
                    <td>{{ pacient.basicInfo.fullName }}</td>
                    <td>{{ pacient.convenioInfo.nameConvenio }}</td>
                    <td><a href=""><fa-icon [icon]="faArrowRight" style="font-size: 20px;"></fa-icon></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-warning py-5 mt-5" style="width: 95rem;" role="alert" *ngIf="lengthArray == 00;">
        <div class="text-text text-center">
            <h3>Sem pacientes cadastrados no momento.</h3>
        </div>
    </div>