<app-sidenav></app-sidenav>
<app-navbar-dashboard>
    <span class="navbar-text text-light" href="#" id="statistics">Edição de consulta</span>
    <div class="d-flex ms-auto mt-2">
        <span class="navbar-text">
            <a class="text-light"><fa-icon [icon]="faUser"></fa-icon></a>
            {{ loggedinUser.name }} {{ loggedinUser.lastName }}
        </span>
    </div>
</app-navbar-dashboard>
<div class="container">
    <h2 class="text-text mt-3">Editando consulta</h2>
    <div class="d-flex flex-row mt-3">
        <!-- <div class="input-group input-group-lg col-5">
            <span class="input-group-text" id="inputGroup-sizing-lg"><fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </span>
            <select class="form-select" id='selectEstadoCivil' [(ngModel)]="selectedOption"
                aria-label="Select busca paciente">
                <option style="color:grey" disabled [value]="null">Selecione o paciente</option>
                <option *ngFor="let pacient of filterPacients" [ngValue]="pacient.ids.pacientID">{{
                    pacient.basicInfo.fullName }}</option>
            </select>
        </div> -->
        <!-- <button class="btn btn-primary btn-lg mx-3 col-2" (click)="handleInput()">Buscar</button> -->
    </div>
    <div class="container-fluid py-5 rounded-3 mb-4 mt-4" style="background-color: #ececec; width: 95rem;">
        <div class="d-flex flex-row">
            <h2 class="display-7 text-text text-black fw-bold">Consulta de {{ this.msgConsulta }} </h2>
        </div>
        <form [formGroup]="formAppointment" (ngSubmit)="onSubmitAppointment()">
            <div class="form-container">
                <div class="d-flex flex-row justify-content-end ms-auto gap-2">
                    <div class="form-check form-switch" style="font-size: 28px;">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label> -->
                    </div>
                    <button class="btn btn-danger" type="button" (click)="onDeleteAppointment()">Deletar</button>
                    <button class="btn btn-primary mx-3" type="submit">Salvar</button>
                </div>
                <div class="d-flex flex-column gap-3 mt-3 mb-3">
                    <div class="d-flex flex-row gap-3">
                        <div class="form-floating col-md-7">
                            <input type="text" class="form-control" id="motivoConsultaCadastro"
                                aria-describedby="motivoConsultaHelp" placeholder="Motivo da consulta"
                                name="motivoConsultaCadastro" formControlName="motivoAppointment">
                            <label for="motivoConsultaCadastro" style="color:grey">Motivo da consulta</label>
                        </div>
                        <div class="form-floating col-md-3">
                            <input type="date" class="form-control" id="dataConsultaCadastro"
                                aria-describedby="dataConsultaHelp" placeholder="Data da consulta"
                                name="dataConsultaCadastro" formControlName="dataAppointment">
                            <label for="dataConsultaCadastro" style="color:grey">Data da consulta</label>
                        </div>
                        <div class="form-floating col-md-1">
                            <input type="time" class="form-control" id="horaConsultaCadastro"
                                aria-describedby="horaConsultaHelp" placeholder="Hora consulta"
                                name="horaConsultaCadastro" formControlName="horaAppointment">
                            <label for="horaConsultaCadastro" style="color:grey">Hora consulta</label>
                        </div>
                    </div>
                    <div class="form-floating col-md-12">
                        <textarea rows="8" type="text" class="form-control py-5 col-md-6" id="listaAlergiasCadastro"
                            aria-describedby="listaAlergiasHelp" placeholder="Lista de alergias"
                            name="listaAlergiasCadastro" formControlName="descAppointment"
                            style="height: 100%;"></textarea>
                        <label for="listaAlergiasCadastro" style="color:grey">Descrição do problema</label>
                    </div>
                    <div class="form-floating col-md-12">
                        <textarea rows="3" type="text" class="form-control py-5 col-md-6" id="medicacaoCadastro"
                            aria-describedby="medicacaoCadastroHelp" placeholder="Medicação receitada"
                            name="medicacaoCadastro" formControlName="medicineAppointment"
                            style="height: 100%;"></textarea>
                        <label for="medicacaoCadastro" style="color:grey">Medicação receitada</label>
                    </div>
                    <div class="form-floating col-md-12">
                        <textarea rows="3" type="text" class="form-control py-5 col-md-6" id="dosagemCadastro"
                            aria-describedby="dosagemCadastroHelp" placeholder="Dosagem e Precauções"
                            name="dosagemCadastro" style="height: 100%;" formControlName="dosageAppointment"></textarea>
                        <label for="dosagemCadastro" style="color:grey">Dosagem e Precauções</label>
                    </div>
                    <app-modal-re>
                        <h5 class="modal-title mt-2 mb-2" id="exampleModalLabel">Consulta editada!</h5>
                    </app-modal-re>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true" *ngIf="showModal">
                        <div class="modal-dialog">
                            <div class="modal-content modal-lg p-4">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-2 mb-2" id="exampleModalLabel">Consulta deletada!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        (click)="showModal=false"></button>
                                </div>
                                <div class="modal-body text-center">
                                    <i class="bi bi-check2-circle" style="color: green; font-size: 3rem;"></i>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-success col-12 p-2"
                                        (click)="navigateProntuario()">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>