<!-- <div class="modal" *ngIf="showModal">
    <div class="modal__content">
        <h1 class="mt-2 mb-3">Conta cadastrada!</h1>
        <div class="mt-2 mb-3 justify-content-center">
            <button routerLink="/home" class="btn btn-success">Logar</button>
        </div>
        <a class="modal__close" (click)="showModal=false">&times;</a>
    </div>
</div> -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="showModal= true">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    *ngIf="showModal">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h5 class="modal-title mt-2 mb-2" id="exampleModalLabel">Conta cadastrada!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="showModal= false"></button>
            </div>
            <div class="modal-body text-center">
                <i class="bi bi-check2-circle" style="color: green; font-size: 3rem;"></i>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success" routerLink="/home">Logar</button>
            </div>
        </div>
    </div>
</div>