<app-sidenav></app-sidenav>
<app-navbar-dashboard>
    <span class="navbar-text text-light" href="#" id="statistics">Cadastro de exame</span>
    <div class="d-flex ms-auto mt-2">
        <span class="navbar-text">
            <a class="text-light"><fa-icon [icon]="faUser"></fa-icon></a>
            {{ loggedinUser.name }} {{ loggedinUser.lastName }}
        </span>
    </div>
</app-navbar-dashboard>
<div class="container">
    <h2 class="text-text mt-3">Encontre o paciente</h2>
    <div class="d-flex flex-row mt-3">
        <div class="input-group input-group-lg col-5">
            <span class="input-group-text" id="inputGroup-sizing-lg"><fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg" placeholder="Digite o nome do paciente"
                [(ngModel)]="searchText">
        </div>
        <button class="btn btn-primary btn-lg mx-3 col-2" (click)="handleInput()">Buscar</button>
    </div>
    <div class="container-fluid py-5 rounded-3 mb-4 mt-4" style="background-color: #ececec; width: 95rem;">
        <div class="d-flex flex-row">
            <h2 class="display-7 text-text text-black fw-bold">Exame de [Nome Paciente] </h2>
            <div class="d-flex flex-row justify-content-end ms-auto gap-2">
                <div class="form-check form-switch" style="font-size: 28px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label> -->
                </div>
                <button class="btn btn-danger">Deletar</button>
                <button class="btn btn-primary mx-3">Salvar</button>
            </div>
        </div>
        <div class="form-container">
            <div class="d-flex flex-column gap-3 mt-3 mb-3">
                <div class="d-flex flex-row gap-3">
                    <div class="form-floating col-md-8">
                        <input type="text" class="form-control" id="contatoEmergenciaCadastro"
                            aria-describedby="contatoEmergenciaHelp" placeholder="Contato de Emergência"
                            name="contatoEmergenciaCadastro">
                        <label for="contatoEmergenciaCadastro" style="color:grey">Nome do exame</label>
                    </div>
                    <div class="form-floating col-md-2">
                        <input type="text" class="form-control" id="contatoEmergenciaCadastro"
                            aria-describedby="contatoEmergenciaHelp" placeholder="Contato de Emergência"
                            name="contatoEmergenciaCadastro">
                        <label for="contatoEmergenciaCadastro" style="color:grey">Data do exame</label>
                    </div>
                    <div class="form-floating col-md-0">
                        <input type="text" class="form-control" id="contatoEmergenciaCadastro"
                            aria-describedby="contatoEmergenciaHelp" placeholder="Contato de Emergência"
                            name="contatoEmergenciaCadastro">
                        <label for="contatoEmergenciaCadastro" style="color:grey">Hora do exame</label>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3">
                    <div class="form-floating col-md-7">
                        <input type="text" class="form-control" id="listaAlergiasCadastro"
                            aria-describedby="listaAlergiasHelp" placeholder="Lista de alergias"
                            name="listaAlergiasCadastro">
                        <label for="listaAlergiasCadastro" style="color:grey">Tipo do exame</label>
                    </div>
                    <div class="form-floating col-md-4">
                        <input type="text" class="form-control" id="listaAlergiasCadastro"
                            aria-describedby="listaAlergiasHelp" placeholder="Lista de alergias"
                            name="listaAlergiasCadastro">
                        <label for="listaAlergiasCadastro" style="color:grey">Laboratório</label>
                    </div>
                </div>
                <div class="form-floating col-md-12">
                    <input type="text" class="form-control" id="listaAlergiasCadastro"
                        aria-describedby="listaAlergiasHelp" placeholder="Lista de alergias"
                        name="listaAlergiasCadastro">
                    <label for="listaAlergiasCadastro" style="color:grey">URL do documento do exame</label>
                </div>
                <div class="form-floating col-md-12">
                    <textarea rows="8" type="text" class="form-control py-5 col-md-6" id="listaAlergiasCadastro"
                        aria-describedby="listaAlergiasHelp" placeholder="Lista de alergias"
                        name="listaAlergiasCadastro" style="height: 100%;"></textarea>
                    <label for="listaAlergiasCadastro" style="color:grey">Resultado do exame</label>
                </div>
            </div>
        </div>
    </div>
</div>