@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.text-text {
    font-family: 'Questrial', sans-serif;
    font-weight: 700;
}
#botao:hover {
    background-color: #004eb4;
}