<app-navbar></app-navbar>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-4 p-5 mb-5 bg-light rounded-3" style="height: 60vh;">
            <h1 class="text-text mb-3 fw-bolder">Login</h1>
            <form>
                <div class="form-floating mt-3 mb-3">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
                    <label for="exampleInputEmail1" class="form-label">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                </div>
                <div class="d-grid gap-2 text-center mt-3">
                    <button type="submit" id="butao" class="btn btn-primary hover:underline"
                        style="background-color: #003478;">Entrar</button>
                </div>
            </form>
            <div class="text-center mt-2">
                <a class="link-secondary" (click)="mostra()">Esqueceu sua senha?</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>