<ng-container [formGroup]="form">
    <div class="form-container">
        <div class="d-flex flex-column gap-3 mt-3 mb-3">
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="contatoEmergenciaCadastro"
                    aria-describedby="contatoEmergenciaHelp" placeholder="Contato de Emergência"
                    name="contatoEmergenciaCadastro" formControlName="emergencyContact">
                <label for="contatoEmergenciaCadastro" style="color:grey">Contato de Emergência</label>
            </div>
            <div class="form-floating col-md-12">
                <textarea rows="8" type="text" class="form-control py-5 col-md-6" id="listaAlergiasCadastro"
                    aria-describedby="listaAlergiasHelp" placeholder="Lista de alergias" name="listaAlergiasCadastro"
                    formControlName="listOfAlergies" style="height: 100%;"></textarea>
                <label for="listaAlergiasCadastro" style="color:grey">Lista de alergias</label>
            </div>
        </div>
    </div>
</ng-container>