<app-sidenav></app-sidenav>
<app-navbar-dashboard>
    <span class="navbar-text text-light" href="#" id="statistics">Estatísticas e informações</span>
    <div class="d-flex ms-auto mt-2">
        <span class="navbar-text">
            <a class="text-light"><fa-icon [icon]="faUser"></fa-icon></a>
            {{ loggedinUser.name }} {{ loggedinUser.lastName }}
        </span>
    </div>
</app-navbar-dashboard>
<div class="container">
    <h2 class="text-text mt-3">Estatísticas do sistema</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="h-100 p-5 text-black bg-light rounded-3 text-center">
                <span style="font-size: 100px;"><fa-icon [icon]="faUser"></fa-icon> {{ lengthArray }}</span>
                <h2 class="text-text text-black mt-2">Pacientes</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="h-100 p-5 text-black bg-light rounded-3 text-center">
                <span style="font-size: 100px;"><fa-icon [icon]="faCalendar"></fa-icon> 0</span>
                <h2 class="text-text text-black mt-2">Consultas</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="h-100 p-5 text-black bg-light rounded-3 text-center">
                <span style="font-size: 100px;"><fa-icon [icon]="faBookMedical"></fa-icon> 0</span>
                <h2 class="text-text text-black mt-2">Exames</h2>
            </div>
        </div>
    </div>
    <h2 class="text-text mt-3">Informações Rápidas de Pacientes</h2>
    <div class="d-flex flex-row">
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg"><fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg" placeholder="Digite o nome do paciente" [(ngModel)]="searchText">
        </div>
        <button class="btn btn-primary btn-lg mx-3">Buscar</button>
    </div>
    <div class="row">
        <div class="alert alert-warning py-5 mt-5" role="alert" *ngIf="lengthArray == 00">
            <div class="text-text text-center">
                <h3>Sem pacientes cadastrados no momento.</h3>
            </div>
        </div>
        <div class="col-md-4 mt-4" *ngFor="let pacient of filterPacients| searchPipe: searchText">
            <div class="h-100 p-3 text-black bg-light rounded-3 text-center">
                <span style="font-size: 100px;"><fa-icon [icon]="faUser"></fa-icon></span>
                <p class="text-text text-black">{{ pacient.basicInfo.fullName }}</p>
                <p class="text-text">{{ pacient.basicInfo.birthDate }}</p>
                <p class="text-text">{{ pacient.basicInfo.telephone }}</p>
                <p class="text-text">{{ pacient.convenioInfo.nameConvenio }}</p>
                <a href="" class="text-text">Ver mais</a>
            </div>
        </div>
    </div>