<app-sidenav></app-sidenav>
<app-navbar-dashboard>
    <span class="navbar-text text-light" href="#" id="statistics">Estatísticas e informações</span>
    <div class="d-flex ms-auto mt-2">
        <span class="navbar-text">
            <a class="text-light"><fa-icon [icon]="faUser"></fa-icon></a>
            {{ loggedinUser.name }} {{ loggedinUser.lastName }}
        </span>
    </div>
</app-navbar-dashboard>
<div class="container">
    <h2 class="text-text mt-3">Estatísticas do sistema</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="h-100 p-5 text-black bg-light rounded-3 text-center">
                <span style="font-size: 100px;"><fa-icon [icon]="faUser"></fa-icon> 0</span>
                <h2 class="text-text text-black mt-2">Pacientes</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="h-100 p-5 text-black bg-light rounded-3 text-center">
                <span style="font-size: 100px;"><fa-icon [icon]="faCalendar"></fa-icon> 0</span>
                <h2 class="text-text text-black mt-2">Consultas</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="h-100 p-5 text-black bg-light rounded-3 text-center">
                <span style="font-size: 100px;"><fa-icon [icon]="faBookMedical"></fa-icon> 0</span>
                <h2 class="text-text text-black mt-2">Exames</h2>
            </div>
        </div>
    </div>
    <h2 class="text-text mt-3">Informações Rápidas de Pacientes</h2>
    <div class="d-flex flex-row">
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg"><fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg" placeholder="Digite o nome do paciente">
        </div>
        <button class="btn btn-primary btn-lg mx-3">Buscar</button>
    </div>
    <div class="col-md-4 mt-4">
        <div class="h-100 p-3 text-black bg-light rounded-3 text-center">
            <span style="font-size: 100px;"><fa-icon [icon]="faUser"></fa-icon></span>
            <p class="text-text text-black">Pedro Laraburu</p>
            <p class="text-text">19 anos</p>
            <p class="text-text">(61) 9 9067-3899</p>
            <p class="text-text">Cassi</p>
            <a href="" class="text-text">Ver mais</a>
          </div>
    </div>